body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.password-generator {
  background: white;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 350px;
}

.settings label,
.settings input {
  display: block;
  margin-top: 10px;
}

input[type="range"] {
  width: 100%;
}

button {
  margin-top: 10px;
  margin-bottom: 3vh;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.image-container {
  text-align: center;
  margin: 20px 0;
}

input[type="text"] {
  width: 331px;
  padding: 8px;
}

#animal-image {
  width: 200px;
  height: fit-content;
}

.special {
  display: flex;
  gap: 15px;
}
